
<div ng-controller="productsCtrl as productsCtrl" data-ng-init="productsCtrl.init()">
    <div id="buttons_div">
        <button ng-click="productsCtrl.getProducts()">
            all
        </button>
        <button ng-click="productsCtrl.getDresses()">
            dresses
        </button>
        <button ng-click="productsCtrl.getShirts()">
            shirts
        </button>
        <button ng-click="productsCtrl.getTrousers()">
            trousers
        </button>
        <button ng-click="productsCtrl.getSkirts()">
            skirts
        </button>
        <button ng-click="productsCtrl.getUnderwear()">
            underwear
        </button>
    </div>
    <BR>
    <div id="main_div">
        <div>
            <image ng-show="productsCtrl.show"  src="https://www.standardgolf.com/ecommerce/images/processing.gif" width="120" height="120"></image>
            <table>
                <p><input placeholder="Search" type="text" ng-model="search"></p>
                <thead>
                <tr>
                    <th ><a href=""  ng-click="productsCtrl.fieldToOrderBy='Description'; productsCtrl.reverseSort = !productsCtrl.reverseSort">Description</a></th>
                    <th><a href=""  ng-click="productsCtrl.fieldToOrderBy='Category'; productsCtrl.reverseSort = !productsCtrl.reverseSort">Category</a></th>
                    <th><a href=""  ng-click="productsCtrl.fieldToOrderBy='Brand'; productsCtrl.reverseSort = !productsCtrl.reverseSort">Brand</a></th>
                    <th><a href=""  ng-click="productsCtrl.fieldToOrderBy='Price'; productsCtrl.reverseSort = !productsCtrl.reverseSort">Price</a></th>
                    <th><a href="" >image</a></th>
                </tr>
                </thead>
                <tr ng-repeat="Products in productsCtrl.productsToShow |filter:search| filter : productsCtrl.filterBy |
                        orderBy:productsCtrl.fieldToOrderBy:productsCtrl.reverseSort" witdh="30" height="20">
                    <td>{{Products.Description}}</td>
                    <td>{{Products.CategoryName}}</td>
                    <td>{{Products.BrandName}}</td>
                    <td>{{Products.Price}} ₪</td>
                    <td><img ng-src="{{Products.imagePath}}" width="120" height="120"></td>
                    <td><button ng-show="productsCtrl.loggedIn" ng-click="productsCtrl.addProductToCart(Products);">add to cart</button></td>
                </tr>
            </table>
        </div>
        <div ng-show="productsCtrl.loggedIn">
            <span>You may love:</span>
            <table>
                <thead>
                <tr>
                    <th >Description</th>
                    <th>Price</th>
                    <th>image</th>
                </tr>
                </thead>
                <tr ng-repeat="Products in productsCtrl.productsToRecomend | filter : productsCtrl.filterBy |
                        orderBy:productsCtrl.fieldToOrderBy:productsCtrl.reverseSort" witdh="30" height="20">
                    <td>{{Products.Description}}</td>
                    <td>{{Products.Price}} ₪</td>
                    <td><img ng-src="{{Products.imagePath}}" width="120" height="120"></td>
                    <td><button ng-click="productsCtrl.addProductToCart(Products);">add to cart</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>