<head>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Indie Flower|Macondo">
</head>
<div id="mainRegDiv" data-ng-controller="registerCtrl as registerCtrl" data-ng-init="registerCtrl.init()">
    <div id="Register">
        <form name="regForm">
            <label>User Name</label>
            <input type="text" ng-model="registerCtrl.userName" required minlength="3" maxlength="8" ng-pattern="/^[a-zA-Z\s]*$/"/>
            <br>
            <label>Password</label>
            <input type="password" ng-model="registerCtrl.password" required minlength="5" maxlength="10"/>
            <br>
            <label>First Name</label>
            <input type="text" ng-model="registerCtrl.fname" required/>
            <br>
            <label>Last Name</label>
            <input type="text" ng-model="registerCtrl.lname" required/>
            <br>
            <label>Address</label>
            <input type="text" ng-model="registerCtrl.Address" required/>
            <br>
            <label>City</label>
            <input type="text" ng-model="registerCtrl.City" required/>
            <br>
            <label>Country</label>
            <select ng-model="registerCtrl.selectedCountry"
                    ng-options="c.Name for c in registerCtrl.Countries">
            </select>
            <br>
            <label>Phone</label>
            <input type="text" ng-model="registerCtrl.Phone" required/>
            <br>
            <label>Cellular</label>
            <input type="text" ng-model="registerCtrl.Cellular" required/>
            <br>
            <label>Email</label>
            <input type="email" ng-model="registerCtrl.mail" required/>
            <br>
            <label>Credit card number</label>
            <input type="text" ng-model="registerCtrl.ccn" required/>
            <br>


    </div>
    <div id="regOther">
        Question 1:
        <div>
            <select ng-model="registerCtrl.selectedQuestion"
                    ng-options="q.Description for q in registerCtrl.Questions track by q.QuestionID">
            </select>
            <br>
            <input type="text" ng-model="registerCtrl.ans1" placeholder="type your answer here" required/>
        </div>

        Question 2:
        <div>
            <select ng-model="registerCtrl.selectedQuestion2"
                    ng-options="q2.Description for q2 in registerCtrl.Questions2 track by q2.QuestionID">
            </select>
            <br>
            <input type="text" ng-model="registerCtrl.ans2" placeholder="type your answer here" required/>
        </div>
        <br>
        <center>Preferences:
            <br>
        <div id="regCateg" ng-repeat="Categories in registerCtrl.Categories" track by Categories.CatrgoryID>
            <center> <label ng-bind="Categories.CategoryName"></label>
            <input type="checkbox" name="myCheck" ng-model="Categories.CategoryID"> </center>
        </div>
        <center><button id="registerButton" ng-click="registerCtrl.registerClick()">
            Register
        </button> <center>
    </div>
    </form>
</div>
