<body>
<div id="getQ" ng-controller="restoreCtrl as restoreCtrl" ng-model="restoreCtrl.emptyQuestions" data-ng-init="restoreCtrl.init()">
    <div ng-show="restoreCtrl.emptyQuestions">
        <label>User Name</label>
        <input type="text" ng-model="restoreCtrl.userName">
        <br>
        <button id="getQuestions" ng-click="restoreCtrl.getQuestions()"> Get My Identify Questions </button>
    </div>

    <div ng-show="restoreCtrl.gotQuestions">
        <label>{{restoreCtrl.Questions[0].Description}}</label>
        <br>
        <center><input ng-model="restoreCtrl.ans1"></center>
        <br>
        <label>{{restoreCtrl.Questions[1].Description}}</label>
        <br>
        <center><input ng-model="restoreCtrl.ans2"></center>
        <br>
        <br>
        <button id="loginButton" ng-click="restoreCtrl.restorePass()"> Get Password </button>
        <br>
        <br>
    </div>

    <div id="getPass" ng-show="restoreCtrl.gotPass">
         Your password is:
        <br>
        <label>{{restoreCtrl.restoredPass}}</label>
    </div>

    <div ng-show="restoreCtrl.noUser">
        <label>{{restoreCtrl.nsu}}</label>
    </div>
</div>
</body>