<body>
<div ng-controller="restoreCtrl as restoreCtrl" data-ng-init="restoreCtrl.init()">
    <label>{{restoreCtrl.Questions[0].Description}}</label>
    <br>
    <input ng-model="restoreCtrl.ans1">
    <br>
    <br>
    <label>{{restoreCtrl.Questions[1].Description}}</label>
    <br>
    <input ng-model="restoreCtrl.ans2">
    <br>
    <br>
    <button id="restoreButton" ng-click="restoreCtrl.restorePass()"> restore </button>
    <br>
    <br>
    <label>{{restoreCtrl.returnAns}}</label>
</div>
</body>