<head>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Indie Flower|Macondo">
</head>
<!--<div id="mainRegDiv" data-ng-controller="registerCtrl as registerCtrl" data-ng-init="registerCtrl.init()">-->
    <!--<div id="regOther">-->
        <!--<br>-->
        <!--Question 1:-->
        <!--<div>-->
            <!--<select ng-model="registerCtrl.selectedQuestion"-->
                    <!--ng-options="q.Description for q in registerCtrl.Questions track by q.QuestionID">-->
            <!--</select>-->
            <!--<br>-->
            <!--<input type="text" ng-model="registerCtrl.ans1" placeholder="type your answer here" required/>-->
        <!--</div>-->

        <!--Question 2:-->
        <!--<div>-->
            <!--<select ng-model="registerCtrl.selectedQuestion2"-->
                    <!--ng-options="q2.Description for q2 in registerCtrl.Questions2 track by q2.QuestionID">-->
            <!--</select>-->
            <!--<br>-->
            <!--<input type="text" ng-model="registerCtrl.ans2" placeholder="type your answer here" required/>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->

<div> <p> restore page </p></div>
