<head>
    <link rel="stylesheet" type="text/css" href="components/about/about.css"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Indie Flower|Macondo">
</head>
<div class="modal" ng-controller="aboutCtrl as aboutCtrl">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" ng-click="aboutCtrl.closeAbout()">&times;</span>
            <h3>About</h3>
        </div>
        <div class="modal-body">
            <li> <u> Inventors </u> </li>
            <ul> Mor Tsubery and Ran Tsur</ul>
            <li> <u> Past Assignments </u> </li>
            <ul>
                <li> <a href="https://rantsur.000webhostapp.com/mySite.html">Mor's personal site</a> </li>
                <li> <a href="https://rantsur.000webhostapp.com/mySite.html">Ran's personal site</a> </li>
                <li> <a href="http://alonprofile.com/ranmorpacman/index.html">PacMan Assignment</a> </li>
            </ul>
            <li> <u> Difficults </u> </li>
            <ul> We found this assignment very practicing and teaching as well as pleasant. </ul>
            <ul> Create application with unfamiliars tools like controllers, modules, plugins and syntax. </ul>
        </div>
        <div class="modal-footer">
            <h4>Copyright &copy; Mor Tsubery and Ran Tsur</h4>
        </div>
    </div>
</div>