.th{
    width: 150px;
}
#leftProducts{
    display: inline-block;
    text-align: center;
    padding-top: 25px;
    line-height: 120%;
    font-size: 17px;
    margin-left: 100px;
    margin-top: 20px;
}
#rightProducts{
    float:right;
    margin-top: 80px;
    margin-right: 100px;
    text-align: center;
    font-size: 17px;
    line-height: 120%;
}
#title{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 40px;
    padding: 10px;
}

table {
    border-collapse: collapse;
}
tr,th,td {
    border: 1px solid black;
}