body {
	font-family: 'Indie Flower', cursive;
	margin: 0;
}
#Register{
	display: inline-block;
	text-align: right;
	padding-top: 80px;
	line-height: 150%;
	font-size: 25px;
	color:blue;
	margin-left: 100px;
}
#registerButton{
	margin-right: 40px;
	width: 120px;
	height: 25px;
}
#regOther{
	float:right;
	margin-top: 100px;
	margin-right: 250px;
	border: 1px solid red;
	min-height: 20px;
	text-align: left;
	font-size: 17px;
	line-height: 120%;
}
#signUpWindow{
	float:right;
	margin-top: 80px;
	margin-right: 350px;
	border: 1px solid black;
	min-height: 20px;
	text-align: left;
	font-size: 25px;
	line-height: 120%;
	color:blue;
	display: inline-block;
}
#signUpButton{
	width: 120px;
	height: 25px;
	margin-left: 60px;
}
#loginDiv{
	display: inline-block;
	text-align: right;
	padding-top: 80px;
	line-height: 150%;
	font-size: 25px;
	color:blue;
	margin-left: 140px;
}
#loginButton{
	margin-right: 40px;
	width: 120px;
	height: 25px;
}

input {
	text-align: center;
	font-size: 15px;
	margin: 10px;
	font-family: 'Macondo', cursive;
	font-weight: bold;
}