body {
	font-family: 'Indie Flower', cursive;
	margin: 0;
}
#Register{
	display: inline-block;
	text-align: right;
	padding-top: 5px;
	line-height: 140%;
	font-size: 17px;
	margin-left: 150px;
}
#registerButton{
	margin-right: 40px;
	width: 120px;
	height: 25px;
}
#regOther{
	float:right;
	margin-top: 40px;
	margin-right: 250px;
	border: 1px solid black;
	min-height: 20px;
	text-align: left;
	font-size: 17px;
	line-height: 120%;
}
#signUpWindow{
	float:right;
	margin-top: 80px;
	margin-right: 350px;
	border: 1px solid black;
	min-height: 20px;
	text-align: left;
	font-size: 25px;
	line-height: 120%;
	display: inline-block;
}
#signUpButton{
	width: 120px;
	height: 25px;
	margin-left: 60px;
}
#loginDiv{
	display: inline-block;
	text-align: right;
	padding-top: 80px;
	line-height: 150%;
	font-size: 25px;
	margin-left: 140px;
}
#loginButton{
	margin-right: 40px;
	width: 120px;
	height: 25px;
}

input {
	text-align: center;
	font-size: 15px;
	margin: 10px;
	font-family: 'Macondo', cursive;
	font-weight: bold;
}

#nav {
	padding:8px;
	color:#f6dde3;
	text-align: center;
	position: fixed;
	width: 99%;
	/*z-index: 99999;*/
	vertical-align: middle;
	background-color: black;
}
#nav a {
	margin: 0 10px;
}
#nav a:visited, #nav a:link {
	text-decoration:none;
	color:#f6dde3;
}
#nav a:hover {
	text-decoration:underline;
	color:#f6dde3;
}

#hot{
	float:right;
	margin-top: 40px;
	margin-right: 100px;
	border: 1px solid black;
	min-height: 20px;
	text-align: left;
	font-size: 17px;
	line-height: 120%;
}