body {
	font-family: 'Indie Flower', cursive;
	margin: 0;
}
#logo {
	padding-left: 220px;
	font-family: 'Lobster', cursive;
	color:#f6dde3;
	text-shadow: 4px 4px 4px #aaa;
	font-size: 36px;
}
#nav {
	top: 50px;
	padding:8px;
	color:#f6dde3;
	text-align: center;
	position: fixed;
	width: 99%;
	/*z-index: 99999;*/
	vertical-align: middle;
	background-color: black;
}
#nav a {
	margin: 0 10px;
}
#nav a:visited, #nav a:link {
	text-decoration:none;
	color:#f6dde3;
}
#nav a:hover {
	text-decoration:underline;
	color:#f6dde3;
}
#loading{
	display: inline-block;
	text-align: center;
	padding-top: 100px;
	line-height: 140%;
	font-size: 30px;
	margin-left: 600px;
}
#Register{
	display: inline-block;
	text-align: right;
	padding-top: 60px;
	line-height: 140%;
	font-size: 17px;
	margin-left: 250px;
}
#registerButton{
	width: 120px;
	height: 25px;
	margin-top: 40px;
}
#regOther{
	float:right;
	margin-top: 60px;
	margin-right: 250px;
	text-align: left;
	font-size: 17px;
	line-height: 120%;
}
#signUpWindow{
	float:right;
	margin-top: 100px;
	margin-right: 350px;
	text-align: center;
	font-size: 25px;
	line-height: 120%;
	display: inline-block;
}
#signUpButton{
	width: 120px;
	height: 25px;
	margin-left: 60px;
}
#loginDiv{
	display: inline-block;
	text-align: right;
	padding-top: 100px;
	line-height: 150%;
	font-size: 25px;
	margin-left: 300px;
}
#loginButton{
	margin-right: 40px;
	width: 120px;
	height: 25px;
}
#getQ{
	display: inline-block;
	text-align: left;
	padding-top: 100px;
	line-height: 150%;
	font-size: 20px;
	margin-left: 450px;
}

input {
	text-align: center;
	font-size: 15px;
	margin: 10px;
	font-family: 'Macondo', cursive;
	font-weight: bold;
}
#hot{
	float:right;
	margin-top: 40px;
	margin-right: 100px;
	border: 1px solid black;
	min-height: 20px;
	text-align: left;
	font-size: 17px;
	line-height: 120%;
}
#newProducts_div{
	float:right;
	margin-top: 55px;
	margin-right: 300px;
	text-align: center;
	font-size: 17px;
	line-height: 120%;
}
#hotProducts_div{
	display: inline-block;
	text-align: center;
	padding-top: 55px;
	line-height: 120%;
	font-size: 17px;
	margin-left: 300px;
}